.spacex-page-container {
  width: $breakpoint-desktop;
  margin: 0 auto;
}

.spacex-grid-flex {
  display: flex;
}

.spacex-grid-flex-align-center {
  align-items: center;
}

.spacex-flex-item-pull-right {
  margin-left: auto;
}

.spacex-page-error {
  margin: ($site-header-height * 1.5) 0;
  padding: 1px 0;
}
